.Tasks-container {
  margin-top: 20px;
  padding: 10px;
}

.Block {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 1.5rem;
  justify-content: center;
  overflow-y: auto;
  max-height: 65vh;
  border-radius: 25px;
}

.task-card {
  border-radius: 10px;
  overflow: hidden;
  transition: .2s;
  height: fit-content;
}

.task-card:hover {
  transform: translateY(-5px);
}

.tasks {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.status {
  width: 100%;
  text-align: center;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-top:
    solid 1px rgba(128, 128, 128, 0.2);
}

.check {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.date {
  font-size: .9rem;
  opacity: .7;
}

.btn-card {
  border: 2px solid transparent;
  background-color: rgba(128, 128, 128, 0.404);
  color: white;
  transition: all ease .3s;
}

.btn-card:hover {
  color: rgb(230, 96, 96);
}