.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login-container img {
  width: 40px;
}

.principal h2 {
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.login label {
  color: rgba(95, 95, 95, 0.87);
}

.color {
  background-color: #7b7fcb;
}

.input-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  height: 40px;
  padding-left: 5px;
  border-radius: 8px;
  outline: none;
  border: 2px solid transparent;
  border-color: #d6d6d6;
  background: #f1f1f1;
}

.icon {
  color: rgba(95, 95, 95, 0.87);
}

.login-input {
  border: 2px solid transparent;
  background-color: transparent;
  color: rgba(95, 95, 95, 0.87);
}

.btn-form {
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.wrongpass{
  font-size: 1rem;
  color: red;
  animation: shake .3s;

}

@keyframes shake {
  0% {transform: translateX(-1px);}
  50%{transform: translateX(1px);}
  75%{transform: translateX(-1px);}
  100%{transform: translateX(1px);}
}